<div class="fitness-program-purchase-card">
  <mat-card-header class="fitness-program-purchase-card__header">
    <mat-card-title>{{ purchase.fitnessProgramCard.name }}</mat-card-title>
    <mat-card-actions>
      <button
        (click)="onDeletePurchase(purchase.id)"
        color="warn"
        mat-icon-button
        matTooltip="Delete purchase">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content class="fitness-program-purchase-card__container">
    <div
      *ngIf="fileUrl"
      class="avatar-wrapper">
      <img
        [src]="fileUrl"
        alt="File"
        class="avatar-image">
      <button
        (click)="openYouTubeVideo()"
        class="button-icon"
        mat-icon-button
        matTooltip="Watch">
        <mat-icon>play_circle</mat-icon>
      </button>
    </div>
    <div class="order-info">
      <div class="order-info__field">
        <span class="text">Order ID:</span><span class="value"> {{ purchase.orderId }}</span>
      </div>
      <div class="order-info__field">
        <span class="text">Date:</span><span class="value"> {{ purchase.dateTime | date }}</span>
      </div>
      <div class="order-info__field">
        <span class="text">Payment Type:</span><span class="value"> {{ purchase.paymentType | paymentType}}</span>
      </div>
      <div class="order-info__field">
        <span class="text">Price:</span><span class="value"> {{ purchase.fitnessProgramCard.price }}
        BAM</span>
      </div>
    </div>
  </mat-card-content>
</div>
