<div class="add-activity-log-container">
  <div
    class="add-activity-log-container__header"
    mat-dialog-title>
    {{ this.isEditMode ? 'Edit activity' : 'Add activity'}}
  </div>
  <form
    [formGroup]="activityLogForm"
    class="form-wrapper">
    <div class="form-wrapper__group">
      <mat-form-field class="form-field">
        <input
          [matDatepicker]="picker"
          formControlName="date"
          matInput
          placeholder="Choose a date">
        <mat-datepicker-toggle
          [for]="picker"
          matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Duration (hh:mm:ss)</mat-label>
        <input
          formControlName="duration"
          matInput>
        <mat-error *ngIf="activityLogForm.get('duration').hasError('timeFormat')">
          Invalid time format. Please use hh:mm:ss.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-wrapper__group">
      <mat-form-field class="form-field">
        <mat-label>Intensity</mat-label>
        <mat-select formControlName="type">
          <mat-option
            *ngFor="let intensityType of intensityTypes"
            [value]="intensityType.id">
            {{ intensityType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Current Weight (lbs)</mat-label>
        <input
          formControlName="currentWeightLbs"
          matInput
          type="number">
      </mat-form-field>
    </div>
    <div class="form-wrapper__group">
      <mat-form-field class="form-field">
        <mat-label>Kcal Intake</mat-label>
        <input
          formControlName="kcalIntake"
          matInput
          type="number">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Notes</mat-label>
        <input
          formControlName="notes"
          matInput
          type="text">
      </mat-form-field>
    </div>
  </form>
  <div
    class="button-wrapper"
    mat-dialog-actions>
    <button
      [mat-dialog-close]="null"
      class="button-discard"
      mat-button>Discard
    </button>
    <button
      (click)="onDialogClose()"
      [disabled]="!activityLogForm.valid"
      class="button-save"
      mat-button>Save
    </button>
  </div>
</div>
