@import "src/app/shared/colors";
@import "src/app/shared/classes";

.center-container {
  display: flex;
  height: 90vh;
}

.app-user-list {
  height: 100%;
  flex: 1;
  border-right: 1px solid white;
}

.chat-messages {
  height: 100%;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}
