@import "src/app/shared/colors";
@import "src/app/shared/classes";

.app-user-list {
  height: 100vw;
  flex: 1 1 auto;
  border-right: 1px solid white;
}

.chat-messages {
  flex: 2 1 auto;
  padding: 0 20px;
}

.no-messages {
  font-size: 20px;
  color: gray;
}
