@import "src/app/shared/colors";
@import "src/app/shared/classes";

.exercise-card {
  display: flex;
  flex-direction: column;
  height: 60vh;
  max-width: 20vw;
  background-color: $color-blue-1;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.description {
  margin-bottom: 15px;
  font-size: 12px;
}

.level {
  color: orange;
}
