<div class="user-wrapper current-user-wrapper">
  <div class="avatar-wrapper">
    <img [src]="userImageMap.get(user.id) ?? getUrl(user)">
  </div>
  <div class="user-name-wrapper">
    <span class="name-style">{{user.firstName}} {{ user.lastName}}</span>
    <span class="username-style">{{ user.username }}</span>
  </div>
</div>
<div
  *ngFor="let user of activatedUsers"
  [ngClass]="{'selected-user-list-wrapper': selectedUserId === user.id}"
  class="user-list-wrapper">
  <div
    (click)="selectUser(user)"
    class="user-wrapper">
    <div
      [matTooltip]="user.loggedIn ? 'online' : 'away'"
      [ngClass]="user.loggedIn ? 'border-color-green' : 'border-color-gray'"
      class="avatar-wrapper">
      <img [src]="userImageMap.get(user.id) ?? getUrl(user)">
    </div>
    <div class="user-data-wrapper">
      <div>{{ user.username }}
        <span
          *ngIf="user.unreadMessages > 0"
          matBadge="{{ user.unreadMessages }}"
          matBadgeColor="warn"
          matBadgeOverlap="false">
        </span>
      </div>
    </div>
  </div>
</div>
