@import "src/app/shared/colors";
@import "src/app/shared/classes";

.user-wrapper {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid white;

  &:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
}

.current-user-wrapper {
  cursor: default !important;
  background-color: white;
  padding: 32px;

  &:hover {
    background-color: white;
  }
}

.user-name-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.user-data-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.username-style {
  font-size: 10px;
}

.name-style {
  font-size: 16px;
  color: $color-blue-2;
}

.selected-user-list-wrapper {
  background-color: $color-blue-8;
}

.username-field {
  font-weight: bold;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.color-green {
  background-color: #4caf50;
}

.color-gray {
  background-color: gray;
}
