<div class="buy-product-wrapper">
  <div class="buy-product-wrapper__header">Buy product</div>
  <div class="buy-product-wrapper__container">
    <form
      [formGroup]="selectPayingForm"
      class="main-form">
      <mat-radio-group
        aria-label="Select paying option"
        formControlName="payingOption">
        <mat-radio-button
          checked
          value="0">Cash on delivery (COD)
        </mat-radio-button>
        <mat-radio-button value="1">Credit card</mat-radio-button>
      </mat-radio-group>
    </form>
    <div [ngSwitch]="codPayingSelected">
      <ng-container *ngSwitchCase="true">
        <form
          [formGroup]="codPayingForm"
          class="buy-product-form">
          <div class="buy-product-form__column">
            <mat-form-field class="form-field">
              <mat-label>Country</mat-label>
              <input
                formControlName="country"
                matInput>
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>City</mat-label>
              <input
                formControlName="city"
                matInput>
            </mat-form-field>
          </div>
          <div class="buy-product-form__column">
            <mat-form-field class="form-field">
              <mat-label>Postal code</mat-label>
              <input
                formControlName="postalCode"
                matInput
                type="number">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Street address</mat-label>
              <input
                formControlName="streetAddress"
                matInput>
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Street number</mat-label>
              <input
                formControlName="streetNumber"
                matInput
                type="number">
            </mat-form-field>
          </div>
        </form>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <form
          [formGroup]="creditCardPayingForm"
          class="buy-product-credit-form">
          <mat-form-field class="form-field">
            <mat-label>Credit card number</mat-label>
            <input
              formControlName="creditCardNumber"
              matInput
              type="number">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>First and last name</mat-label>
            <input
              formControlName="firstAndLastName"
              matInput>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>CVV2/CVC2</mat-label>
            <input
              formControlName="cvvNumber"
              matInput
              type="number">
          </mat-form-field>
          <mat-radio-group formControlName="confirmProcessing">
            <mat-radio-button value="1">I confirm the processing of the credit
              card data
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </ng-container>
    </div>
  </div>
  <div class="button-wrapper">
    <button
      [mat-dialog-close]="null"
      class="button-discard"
      mat-button>Discard
    </button>
    <button
      [disabled]="disableSave"
      [mat-dialog-close]="purchase"
      class="button-save"
      mat-button>
      Save
    </button>
  </div>
</div>
