@import "src/app/shared/colors";
@import "src/app/shared/classes";

.comment {
  padding: 8px;
  width: 100%;
}

.my-comment-wrapper {
  background-color: $color-blue-5;
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.other-people-comment-wrapper {
  background-color: $color-gray-1;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 16px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-wrapper img {
  width: 40px;
  height: 40px;
}

.button-wrapper button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
