@import "src/app/shared/colors";
@import "src/app/shared/classes";

.comment {
  padding: 8px;
}

.my-comment-wrapper {
  background-color: $color-gray-1;
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.other-people-comment-wrapper {
  background-color: $color-blue-1;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 16px;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-wrapper img {
  width: 40px;
  height: 40px;
}
