@import "src/app/shared/colors";
@import "src/app/shared/classes";

.message {
  margin: 8px;
}

.my-message-wrapper {
  display: flex;
  justify-content: flex-end;
}

.other-user-message-wrapper {
  display: flex;
  justify-content: flex-start;
}

.my-message-wrapper .content-wrapper {
  background-color: $color-gray-1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;

  input {
    border: none;
  }
}

.other-user-message-wrapper .content-wrapper {
  background-color: $color-blue-8;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;

  input {
    border: none;
  }
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-wrapper img {
  width: 24px;
  height: 24px;
}

.message-wrapper {
  display: flex;
  align-items: center;
}
