@import "src/app/shared/colors";

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 16px;
}

.button-discard {
  background-color: $color-red-1;
  color: $color-white;

  &:hover {
    background-color: $color-red-2;
  }
}

.button-save {
  background-color: $color-blue-1;
  color: $color-white;

  &:hover {
    background-color: $color-blue-3;
  }
}

.items-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 24px 16px;
}

.button-icon {
  margin: 0
}

.items-container-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  min-height: 65vh;
}

.header-container {
  display: flex;
  justify-content: end;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  background-color: $color-blue-1;
  color: white;
  border-radius: 8px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-wrapper img {
  width: 40px;
  height: 40px;
}


.upload-button {
  text-align: center;
  margin-top: 20px;
}

.file-label {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.button-primary {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  mat-icon {
    color: $color-blue-1;
  }
}

.button-danger {
  border: none;
  background-color: transparent;
  cursor: pointer;

  mat-icon {
    color: $color-red-1;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.read-more {
  color: $color-blue-2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  align-self: flex-end;
  cursor: pointer;
}

.read-more:hover {
  color: $color-orange-1;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  max-width: 20vw;
  background-color: $color-blue-1;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.card-title {
  color: $color-white;
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 500;
}

.card-description {
  margin-bottom: 15px;
  font-size: 12px;
}

.level {
  color: orange;
  font-size: 12px;
}

@media (max-width: 1104px) {
  .card-title {
    color: $color-white;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card-description {
    font-size: 8px;
    line-height: 1.5;
    max-height: calc(5 * 1.5em);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .read-more {
    font-size: 8px;
  }

  .level {
    color: orange;
    font-size: 8px;
  }
}
