@import "src/app/shared/colors";

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 16px;
}

.button-discard {
  background-color: $color-red-1;
  color: $color-white;

  &:hover {
    background-color: $color-red-2;
  }
}

.button-save {
  background-color: $color-blue-1;
  color: $color-white;

  &:hover {
    background-color: $color-blue-3;
  }
}

.items-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 24px 16px;
}

.button-icon {
  margin: 0
}

.items-container-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  min-height: 65vh;
}

.header-container {
  display: flex;
  justify-content: end;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  background-color: $color-blue-1;
  color: white;
  border-radius: 8px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-wrapper img {
  width: 40px;
  height: 40px;
}


.upload-button {
  text-align: center;
  margin-top: 20px;
}

.file-label {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.button-primary {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  mat-icon {
    color: $color-blue-1;
  }
}

.button-danger {
  border: none;
  background-color: transparent;
  cursor: pointer;

  mat-icon {
    color: $color-red-1;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.read-more {
  color: $color-blue-2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  align-self: flex-end;
  cursor: pointer;
}

.read-more:hover {
  color: $color-orange-1;
}
