<div
  *ngIf="!isLoading"
  class="items-container">
  <div class="header-container">
    <form [formGroup]="filterForm">
      <mat-form-field *ngIf="!categoriesLoading">
        <mat-label>Filter by category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input
          formControlName="search"
          matInput
          placeholder="Type to search">
      </mat-form-field>
      <button
        (click)="onFilterClick()"
        mat-button
      >Filter
      </button>
      <button
        (click)="onAddNewFitnessProgramClick()"
        mat-button
      >Add new fitness program
      </button>
    </form>
  </div>
  <div class="fitness-card-container">
    <ng-container *ngFor="let fitnessProgramCard of fitnessProgramCards">
      <app-fitness-program-preview-card [fitnessProgramCard]="fitnessProgramCard"></app-fitness-program-preview-card>
    </ng-container>
  </div>
  <mat-paginator
    (page)="onPageChange($event)"
    [length]="totalItems"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    class="mat-paginator">
  </mat-paginator>
</div>
