<div
  *ngIf="!isLoading; else loading"
  class="items-container-column">
  <div class="header-container">
    <form
      [formGroup]="filterForm"
      class="filter-form">
      <div class="form-row">
        <button
          (click)="onAddNewFitnessProgramClick()"
          [matTooltip]="'Add fitness program'"
          class="button-save"
          mat-button
        >
          <mat-icon class="button-icon">add</mat-icon>
        </button>

        <mat-form-field *ngIf="!categoriesLoading">
          <mat-label>Choose category</mat-label>
          <mat-select formControlName="category">
            <mat-option [value]=0>All</mat-option>
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Difficulty level</mat-label>
          <mat-select formControlName="difficultyLevel">
            <mat-option
              *ngFor="let difficultyLevel of difficultyLevels; let i = index"
              [value]="i + 1">
              {{ difficultyLevel }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="userId">
          <mat-label>Show programs</mat-label>
          <mat-select formControlName="showPrograms">
            <mat-option value="all">All</mat-option>
            <mat-option value="myPrograms">My programs</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="myProgramsFilterOn">
          <mat-label>Choose status</mat-label>
          <mat-select formControlName="status">
            <mat-option [value]=0>Active</mat-option>
            <mat-option [value]=1>Completed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <div class="price-wrapper">
          <label>Price {{ filterForm.get('minPrice').value }} - {{ filterForm.get('maxPrice').value }}</label>
          <mat-slider class="price-slider">
            <input
              formControlName="minPrice"
              matSliderStartThumb>
            <input
              formControlName="maxPrice"
              matSliderEndThumb>
          </mat-slider>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input
            formControlName="search"
            matInput
            placeholder="Type to search">
        </mat-form-field>

        <button
          (click)="onFilterClick()"
          class="button-save"
          mat-button>
          <mat-icon>filter_alt</mat-icon>
          Apply filters
        </button>
        <button
          (click)="onResetFiltersClick()"
          class="button-discard"
          mat-button>
          <mat-icon>filter_alt_off
          </mat-icon>
          Reset filters
        </button>
      </div>
    </form>
  </div>
  <ng-container *ngIf="!isLoading; else loading">
    <div class="fitness-card-container">
      <ng-container *ngFor="let fitnessProgramCard of fitnessProgramCards">
        <app-fitness-program-preview-card [fitnessProgramCard]="fitnessProgramCard"></app-fitness-program-preview-card>
      </ng-container>
    </div>
  </ng-container>
</div>
<mat-paginator
  (page)="onPageChange($event)"
  *ngIf="fitnessProgramCards"
  [length]="totalItems"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  class="mat-paginator">
</mat-paginator>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
