<div
  (click)="onFitnessProgramCardClick()"
  class="fitness-program-card">
  <div
    class="fitness-program-card__header"
    mat-card-title>{{fitnessProgramCard.name}}
  </div>
  <div
    *ngIf="fileUrl"
    class="avatar-wrapper">
    <img
      [src]="fileUrl"
      alt="File"
      class="avatar-image">
  </div>
  <div class="details-wrapper">
    <div
      [matTooltip]="fitnessProgramCard.difficultyLevel | difficultyLevel"
      [ngClass]="{
      'circle': true,
      'beginner': fitnessProgramCard.difficultyLevel === 1,
      'intermediate': fitnessProgramCard.difficultyLevel === 2,
      'expert': fitnessProgramCard.difficultyLevel === 3
    }"></div>
    <div class="price">{{ fitnessProgramCard.price }} BAM</div>
  </div>
</div>
