@import "src/app/shared/colors";
@import "src/app/shared/classes";

.fitness-program-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}
