@import "src/app/shared/colors";
@import "src/app/shared/classes";

.fitness-program-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 20vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &__header {
    background-color: $color-blue-1;
    color: $color-white;
    text-align: center;
    font-size: 24px;
    padding: 12px;
  }
}

.avatar-wrapper {
  text-align: center;
  margin: 20px 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  width: 20vh !important;
  height: 20vh !important;
  object-fit: cover;
}

.price {
  align-self: center;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: $color-blue-1;
}
