@import "src/app/shared/colors";
@import "src/app/shared/classes";

.fitness-program-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}

.avatar-wrapper {
  text-align: center;
  margin-top: 20px;
}

.avatar-image {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 50%; /* Make it circular */
}
