<mat-toolbar class="toolbar-container">
  <div class="toolbar-container-left">
    <button
      (click)="drawer.toggle()"
      mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-label
      (click)="onFitnessAppClick()"
      class="fitness-app-label">GymGuru
      <mat-icon>fitness_center</mat-icon>
    </mat-label>
  </div>

  <div class="toolbar-container-right">
    <button
      (click)="onSubscribeToCategoryClick()"
      *ngIf="user"
      [matTooltip]="'Subscribe to a category?'"
      class="icon-label-wrapper"
      mat-icon-button>
      <mat-icon>subscriptions</mat-icon>
    </button>
    <button
      (click)="onSendAdviceMessageClick()"
      *ngIf="user"
      [matTooltip]="'Need help with a fitness plan?'"
      class="icon-label-wrapper"
      mat-icon-button>
      <mat-icon>support_help</mat-icon>
    </button>
    <button
      (click)="onToggleAccountMenuClick()"
      class="profile-details"
      mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer
    #drawer
    class="sidenav">
    <mat-nav-list>
      <button
        (click)="drawer.close()"
        class="mat-list-item"
        routerLink="/fitness-news"
        routerLinkActive="active">Fitness News
      </button>
      <button
        (click)="drawer.close()"
        *ngIf="user"
        class="mat-list-item"
        routerLink="/exercises"
        routerLinkActive="active">Exercise suggestions
      </button>
      <button
        (click)="drawer.close()"
        class="mat-list-item"
        routerLink="/fitness-program"
        routerLinkActive="active">Fitness programs
      </button>
      <button
        (click)="drawer.close()"
        *ngIf="user"
        [routerLink]="'/fitness-program-purchases/' + user.id"
        class="mat-list-item"
        routerLinkActive="active"
      >Purchases
      </button>
      <button
        (click)="drawer.close()"
        *ngIf="user"
        class="mat-list-item"
        routerLink="/activity-logs"
        routerLinkActive="active">Activities
      </button>
      <button
        (click)="drawer.close()"
        *ngIf="user"
        class="mat-list-item"
        routerLink="/chat"
        routerLinkActive="active">Chat
      </button>
      <button
        (click)="drawer.close()"
        *ngIf="user"
        class="mat-list-item"
        routerLink="/statistics"
        routerLinkActive="active">Statistics
      </button>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div
      [@collapse]="collapsed"
      class="quick-profile-view-card">
      <button
        (click)="onProfileDetailsClick()"
        class="icon-label-wrapper"
        mat-button>
        <mat-icon>settings</mat-icon>
        Profile details
      </button>

      <button
        (click)="onChangePasswordClick()"
        class="icon-label-wrapper"
        mat-button>
        <mat-icon>password</mat-icon>
        Manage password
      </button>
      <button
        (click)="onLogOutClick()"
        class="icon-label-wrapper"
        mat-button>
        <mat-icon>logout</mat-icon>
        Log out
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


