<div
  *ngIf="!isLoading"
  class="items-container-column">
  <div class="header-container">
    <button
      (click)="onAddNewActivityLogClick()"
      [matTooltip]="'Add activity log'"
      class="button-primary"
      mat-button
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      (click)="ondDownloadMyActivityLogs()"
      [matTooltip]="'Download logs'"
      class="button-primary"
      mat-button>
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <table
    [dataSource]="activityLogs"
    class="mat-elevation-z8"
    mat-table>
    <ng-container matColumnDef="id">
      <th
        *matHeaderCellDef
        mat-header-cell> ID
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell> {{activityLog.id}}
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th
        *matHeaderCellDef
        mat-header-cell> Date
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell> {{activityLog.date | date: 'mediumDate'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th
        *matHeaderCellDef
        mat-header-cell> Duration
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell> {{activityLog.duration}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th
        *matHeaderCellDef
        mat-header-cell> Intensity
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell> {{ activityLog.type | intensityType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="currentWeight">
      <th
        *matHeaderCellDef
        mat-header-cell> Current Weight
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell> {{activityLog.currentWeightLbs}} </td>
    </ng-container>
    <ng-container matColumnDef="kcalIntake">
      <th
        *matHeaderCellDef
        mat-header-cell> Kcal intake
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell> {{activityLog.kcalIntake}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th
        *matHeaderCellDef
        mat-header-cell>
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell>
        <button
          (click)="onEditActivityLogClick(activityLog)"
          [matTooltip]="'Edit'"
          class="button-primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th
        *matHeaderCellDef
        mat-header-cell>
      </th>
      <td
        *matCellDef="let activityLog"
        mat-cell>
        <button
          (click)="onDeleteActivityLogClick(activityLog)"
          [matTooltip]="'Remove'"
          class="button-danger">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      *matHeaderRowDef="displayedColumns"
      mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns;"
      mat-row></tr>
  </table>
</div>
<mat-paginator
  (page)="onPageChange($event)"
  [length]="totalItems"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  class="mat-paginator">
</mat-paginator>
