<div
  class="messages-container">
  <div
    #messagesWrapper
    class="messages-wrapper">
    <div
      *ngFor="let message of messages">
      <app-chat-message
        [message]="message"
        [selectedUser]="selectedUser"
      ></app-chat-message>
    </div>
  </div>
  <form
    *ngIf="chatId"
    [formGroup]="sendMessageForm"
    class="send-message-form">
    <mat-form-field class="message-input-field">
      <textarea
        class="message-textarea"
        formControlName="messageText"
        matInput></textarea>
    </mat-form-field>
    <button
      (click)="onSendMessageClick()"
      [disabled]="sendMessageForm.invalid"
      class="button-send"
      mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
