<ng-container *ngIf="!isLoading; else loading">
  <div class="items-container">
    <ng-container *ngFor="let exercise of pagedExercises">
      <app-exercise-card [exercise]="exercise"></app-exercise-card>
    </ng-container>
  </div>
  <mat-paginator
    (page)="onPageChange($event)"
    *ngIf="exercises.length"
    [length]="exercises.length"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    class="mat-paginator">
  </mat-paginator>
</ng-container>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
