<ng-container *ngIf="!isLoading; else loading">
  <div class="items-container">
    <ng-container *ngFor="let exercise of pagedExercises">
      <app-exercise-card [exercise]="exercise"></app-exercise-card>
    </ng-container>

    <mat-paginator
      (page)="onPageChange($event)"
      [length]="exercises.length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      class="mat-paginator">
    </mat-paginator>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
