<ng-container *ngIf="!isLoading; else loading">
  <div class="items-container">
    <ng-container *ngFor="let item of pagedRssFeedNews">
      <app-rss-feed-news-item [rssFeedNewsItem]="item"></app-rss-feed-news-item>
    </ng-container>

    <mat-paginator
      (page)="onPageChange($event)"
      [length]="rssFeedNews.length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      class="mat-paginator">
    </mat-paginator>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
