<div
    *ngIf="!isLoading"
    class="fitness-program-details">
    <button
        (click)="onDeleteFitnessProgramClick()"
        *ngIf="isMyFitnessProgram && !fitnessProgram.completed && !isEditMode">
        <mat-icon>delete</mat-icon>
    </button>
    <button
        (click)="onCompleteFitnessProgramClick()"
        *ngIf="isMyFitnessProgram && !fitnessProgram.completed && !isEditMode">
        <mat-icon>add_task</mat-icon>
    </button>

    <app-carousel
        *ngIf="fitnessProgramImageUrls"
        [images]="fitnessProgramImageUrls"></app-carousel>

    <form [formGroup]="fitnessProgramForm">
        <button
            (click)="onBuyProgramClick()"
            *ngIf="isLoggedIn && !isMyFitnessProgram"
            mat-button
        >Buy program
        </button>
        <div
            *ngIf="fileUrl"
            class="avatar-wrapper">
            <img
                [src]="fileUrl"
                alt="File"
                class="avatar-image">
        </div>
        <div
            *ngIf="isEditMode"
            class="upload-button">
            <label
                class="file-label"
                for="fileInput">
                <span>Upload new picture</span>
                <input
                    (change)="onFileSelected($event)"
                    id="fileInput"
                    style="display: none;"
                    type="file">
            </label>
        </div>
        <div class="part-header">{{ fitnessProgram.name }}</div>
        <mat-form-field class="form-field">
            <mat-label>Price</mat-label>
            <input
                formControlName="price"
                matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Difficulty level</mat-label>
            <mat-select formControlName="difficultyLevel">
                <mat-option
                    *ngFor="let difficultyLevel of difficultyLevels; let i = index"
                    [value]="i + 1">
                    {{ difficultyLevel }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Duration</mat-label>
            <input
                formControlName="duration"
                matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Location</mat-label>
            <input
                formControlName="location"
                matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Contact</mat-label>
            <input
                formControlName="contactEmail"
                matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Category</mat-label>
            <input
                formControlName="category"
                matInput>
        </mat-form-field>
        <ng-container *ngFor="let controlName of dynamicFormControls">
            <mat-form-field>
                <mat-label>{{ controlName }}</mat-label>
                <input
                    formControlName="{{ controlName }}"
                    matInput>
            </mat-form-field>
        </ng-container>
        <p *ngIf="fitnessProgram.completed"><strong>Status:</strong> Completed</p>
    </form>
    <form
        [formGroup]="instructorForm"
        class="instructor-form">
        <div class="part-header">Instructor details</div>
        <mat-form-field class="form-field">
            <mat-label>First Name</mat-label>
            <input
                formControlName="firstName"
                matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input
                formControlName="lastName"
                matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Age</mat-label>
            <input
                formControlName="age"
                matInput
                type="number">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Height</mat-label>
            <input
                formControlName="height"
                matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Weight</mat-label>
            <input
                formControlName="weight"
                matInput>
        </mat-form-field>
        <div class="form-field">
            <mat-radio-group formControlName="sex">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>
    <div class="comment-wrapper">
        <div class="part-header">Comments</div>
        <div *ngFor="let comment of fitnessProgram.comments">
            <app-comment
                (commentDeletedEmitter)="commentDeleted($event)"
                [comment]="comment"></app-comment>
        </div>
        <form
            *ngIf="isLoggedIn && !fitnessProgram.completed"
            [formGroup]="leaveCommentForm"
            class="comment-card">
            <mat-form-field class="comment-card__field">
                <mat-label>Leave a comment</mat-label>
                <textarea
                    class="comment-content"
                    formControlName="commentContent"
                    matInput></textarea>
            </mat-form-field>
            <div
                *ngIf="!fitnessProgram.completed"
                class="button-wrapper">
                <button
                    (click)="onPostCommentClick()"
                    [disabled]="leaveCommentForm.invalid"
                    class="button-save"
                    mat-button>Post
                </button>
            </div>
        </form>
    </div>
</div>
