<div
  *ngIf="!isLoading"
  class="fitness-program-details">
  <div
    *ngIf="fileUrl"
    class="avatar-wrapper">
    <img
      [src]="fileUrl"
      alt="File"
      class="avatar-image">
  </div>
  <div
    *ngIf="isEditMode"
    class="upload-button">
    <label
      class="file-label"
      for="fileInput">
      <span>Upload new picture</span>
      <input
        (change)="onFileSelected($event)"
        id="fileInput"
        style="display: none;"
        type="file">
    </label>
  </div>
  <h2>{{ fitnessProgram.name }}</h2>
  <p><strong> Price:</strong> {{ fitnessProgram.price }}</p>
  <p><strong> Difficulty Level:</strong> {{ fitnessProgram.difficultyLevel }}</p>
  <p><strong> Duration:</strong> {{ fitnessProgram.duration }}</p>
  <p><strong> Location:</strong> {{ fitnessProgram.location }}</p>
  <p><strong> Contact:</strong> {{ fitnessProgram.contact }}</p>
  <p><strong> Category:</strong> {{ fitnessProgram.category.name }}</p>
  <p><strong> Instructor:</strong> {{ fitnessProgram.instructor.firstName }} {{ fitnessProgram.instructor.lastName}}</p>
  <p *ngIf="fitnessProgram.isCompleted"><strong>Status:</strong> Completed</p>
</div>
